version: '3.7'

services:
  db:
    image: mongo
    restart: always
    container_name: ledger_mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: docker